@import "src/fonts/fonts.css";
html {
    width: 400px;
    height: 590px;
}

h1 {
    /*position: absolute;*/
    width: 400px;
    height: 35px;
    left: 0;
    /*border-bottom: 1px solid grey;*/
    /*bottom: 500px;*/
    /*left: 40px;*/

    /*font-family: Titillium Web;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*font-size: 20px;*/
    /*line-height: 50px;*/
    /* or 33% */
    /*display: flex;*/
    /*align-items: center;*/
    /*letter-spacing: 0.1em;*/
    /*font-feature-settings: 'tnum' on, 'lnum' on, 'cpsp' on;*/

    /*color: black;*/
}

t1 {
    overflow: hidden;
    position: absolute;
    bottom: 535px;
    left: 80px;
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: black;
}

.top-border {
    position: absolute;
    left: 0;
    width: 420px;
    border-bottom: 1px solid lightgrey;
}

#score-header {
    overflow: hidden;
    position: absolute;
    bottom: 500px;
    left: 10px;
    font-family: Titillium Web, sans-serif;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.05em;

    color: #000000;
}

#score {
    position: absolute;
    font-family: Titillium Web, sans-serif;
    bottom: 450px;
    left: 10px;
    font-weight: 100;
    font-size: 32px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #333333;
}

#risk-rating {
    position: absolute;
    font-family: Titillium Web, sans-serif;
    bottom: 464px;
    left: 95px;
    font-size: 16px;
    color: #6FCF97;
}

#score-range {
    position: absolute;
    bottom: 395px;
    left: 10px;
    width: 207px;
    height: 40px;
}

a {
    position: absolute;
    bottom: 375px;
    left: 15px;
}
