@import "src/fonts/fonts.css";
html {
    width: 400px;
    height: 630px;
}

h1 {
    width: 400px;
    height: 35px;
    left: 0;
}

t1 {
    overflow: hidden;
    position: absolute;
    bottom: 555px;
    left: 80px;
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: black;
}

#load-background {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 1; /* Higher than anything else in the document */

}

#loading-text {
    overflow: hidden;
    position: absolute;
    bottom: 400px;
    left: 60px;
    font-family: Titillium Web, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: black;
}
/*link to tutorial for the load screen: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.top-border {
    position: absolute;
    left: 0;
    width: 420px;
    border-bottom: 1px solid lightgrey;
}

.score-header {
    position: absolute;
    bottom: 510px;
    left: 10px;
    font-family: Titillium Web, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.05em;

    color: #000000;
}

.score-header-hover-text{
    font-size: 9px;
    bottom: 150px;
}

.score-header .score-header-hover-text {
    visibility: hidden;
    width: 200px;
    bottom: -100%;
    left: 102%;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.score-header:hover .score-header-hover-text{
    visibility: visible;
}

#score {
    position: absolute;
    font-family: Titillium Web, sans-serif;
    bottom: 450px;
    left: 10px;
    font-weight: 500;
    font-size: 40px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #333333;
}

#score-range {
    position: absolute;
    bottom: 405px;
    left: 0px;
    width: 207px;
    height: 40px;
    object-fit: contain;
}

a {
    position: absolute;
    bottom: 385px;
    left: 10px;
    font-family: Titillium Web, sans-serif;
    color: black;
}

.second-border {
    position: absolute;
    left: 10px;
    width: 380px;
    border-bottom: 1px solid lightgrey;
    bottom: 370px;
}

.related-media-header {
    position: absolute;
    bottom: 340px;
    left: 10px;
    font-family: Titillium Web, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.05em;

    color: #000000;
}

.related-media-hover-text{
    font-size: 9px;
    bottom: 150px;
}

.related-media-header .related-media-hover-text {
    visibility: hidden;
    width: 100px;
    bottom: 0%;
    left: 105%;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.related-media-header:hover .related-media-hover-text{
    visibility: visible;
}

#environment-image {
    position: absolute;
    bottom: 220px;
    left: 10px;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    object-fit: cover;
}

#environment-article {
    position: absolute;
    bottom: 220px;
    left: 10px;
    width: 115px;
    height: 30px;
    background: rgba(256, 256, 256, 0.8);
    font-family: Titillium Web, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
    transition: height 2s;
}

#social-image {
    position: absolute;
    bottom: 220px;
    left: 142.5px;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    object-fit: cover;
}

#social-article {
    position: absolute;
    bottom: 220px;
    left: 142.5px;
    width: 115px;
    height: 30px;
    background: rgba(256, 256, 256, 0.8);
    font-family: Titillium Web, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
    transition: height 2s;
}

#governance-image {
    position: absolute;
    bottom: 220px;
    left: 275px;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    object-fit: cover;
}

#governance-article {
    position: absolute;
    bottom: 220px;
    left: 275px;
    width: 115px;
    height: 30px;
    background: rgba(256, 256, 256, 0.8);
    font-family: Titillium Web, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
}

.third-border {
    position: absolute;
    left: 10px;
    width: 380px;
    border-bottom: 1px solid lightgrey;
    bottom: 200px;
}

.recommendations-header {
    position: absolute;
    bottom: 175px;
    left: 10px;
    font-family: Titillium Web, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #000000;
}

.recommendation-hover-text{
    font-size: 9px;
    bottom: 150px;
}

.recommendations-header .recommendation-hover-text {
    visibility: hidden;
    width: 100px;
    bottom: 0%;
    left: 105%;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.recommendations-header:hover .recommendation-hover-text{
    visibility: visible;
}

#radio-buttons {
    font-family: Titillium Web, sans-serif;
    position: absolute;
    bottom: 153px;
}

#recommendation-1-image {
    position: absolute;
    bottom: 60px;
    left: 15px;
    width: 105px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
}

#recommendation-1-website {
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 115px;
    height: 30px;
    background: rgba(200, 200, 200, 0.5);
    font-family: Titillium Web, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
}

#recommendation-1-score {
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 115px;
    height: 15px;
    font-family: Titillium Web, sans-serif;
    text-align: center;
}

#recommendation-1-background {
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    background-color: white;
    object-fit: contain;
}

#recommendation-2-image {
    position: absolute;
    bottom: 60px;
    left: 147.5px;
    width: 105px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
}

#recommendation-2-background {
    position: absolute;
    bottom: 30px;
    left: 142.5px;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    background-color: white;
    object-fit: contain;
}

#recommendation-2-website {
    position: absolute;
    bottom: 30px;
    left: 142.5px;
    width: 115px;
    height: 30px;
    background: rgba(200, 200, 200, 0.5);
    font-family: Titillium Web, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
}

#recommendation-2-score {
    position: absolute;
    bottom: 30px;
    left: 142.5px;
    width: 115px;
    height: 15px;
    font-family: Titillium Web, sans-serif;
    text-align: center;
}

#recommendation-3-image {
    position: absolute;
    bottom: 60px;
    left: 280px;
    width: 105px;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
}

#recommendation-3-background {
    position: absolute;
    bottom: 30px;
    left: 275px;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    background-color: white;
    object-fit: contain;
}

#recommendation-3-website {
    position: absolute;
    bottom: 30px;
    left: 275px;
    width: 115px;
    height: 30px;
    background: rgba(200, 200, 200, 0.5);
    font-family: Titillium Web, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
}

#recommendation-3-score {
    position: absolute;
    bottom: 30px;
    left: 275px;
    width: 115px;
    height: 15px;
    font-family: Titillium Web, sans-serif;
    text-align: center;
}

#privacy-policy {
    position: absolute;
    bottom: 5px;
    left: 160px;
}

.tool-tip{
    position: relative;
    color: dimgrey;
    border-bottom: 1px dotted black;
}

.tool-tip .tool-tip-text{
    visibility: hidden;
    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tool-tip:hover .tool-tip-text{
    visibility: visible;
}
